<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Online Shop</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<style type="text/css">
.card-highlight {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem !important;
}

.card-highlight h5, .card-highlight h6 {
	opacity: 0.8;
	color: black;
	background: #F6F6F6;
	padding: 2px;
}
</style>
</head>
<body>
	<div th:replace="/fragment/index :: nav"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-3 mt-2">
				<a href="/admin/item/create"
					class="btn btn-block btn-outline-info mb-2"><i class="fa fa-plus" aria-hidden="true"></i> Create Item</a> <a
					href="/admin/category/create"
					class="btn btn-block btn-outline-primary mb-2"><i class="fa fa-plus" aria-hidden="true"></i> Create Category</a>
				<ul class="list-group" th:each="category : ${listCategory}">
					<li class="list-group-item list-group-item-action"
						th:onclick="|selectCategory('${category.categoryId}')|"><th:block
							th:text="${category.categoryName +' / '+ category.categoryNameMm}"></th:block>
						<div class="mt-2">
							<form method="post"
								th:action="@{/admin/category/{id}/delete(id=${category.categoryId})}">
								<a class="btn btn-outline-primary btn-sm "
									th:href="@{/admin/category/{id}/edit(id=${category.categoryId})}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
								</a>
								<button class="btn btn-outline-danger btn-sm" type="submit">
									<i class="fa fa-trash " aria-hidden="true"></i>Delete
								</button>
							</form>
						</div></li>
				</ul>
			</div>
			<div class="col-12 col-md-9 mt-md-2 mt-5">
				<h4>
					<th:block th:text="${categoryName}"></th:block>
					<span th:text="${listItem.size()}" class="badge badge-danger"></span>
				</h4>

				<div class="row">
					<div class="col-6 col-md-3 mt-1" th:each="item : ${listItem}">
						<div class="card ">
							<img th:if="${item.item.frontImg == null}"
								th:src="@{/items/no_image.jpg}" class="card-img-top" alt="...">
							<img th:unless="${item.item.frontImg == null}"
								th:src="@{/items/{img}(img=${item.item.frontImg})}"
								th:alt="${item.item.itemName}" class="card-img-top">
							<div class="card-body card-highlight">
								<a th:if="${item.selling}" th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId},unitId=${item.unitId})}" class="badge badge-primary">Selling</a>
								<a th:unless="${item.selling}" th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId})}" class="badge badge-danger">Idle +</a>
								<h5 th:text="${item.item.itemId + ' - ' +item.item.itemName}">Card title</h5>								
								<h6 class="card-subtitle mb-2 "
									th:text="${item.item.category.categoryName +'/'+ item.item.category.categoryNameMm}">Card subtitle</h6>
								<form method="post"
								th:action="@{/admin/item/{id}/delete(id=${item.item.itemId})}">
								<a class="btn btn-outline-primary btn-sm" th:href="@{/admin/item/{id}/edit(id=${item.item.itemId})}">
									<i class="fa fa-pencil-square-o" aria-hidden="true" ></i>Edit
								</a>
								<button class="btn btn-outline-danger btn-sm"  >
									<i class="fa fa-trash" aria-hidden="true"></i>Delete
								</button>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function selectCategory(id) {
		window.location = "/admin/category?catId=" + id;
	}
</script>
</html>