<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Online Shop</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"></link>
<link rel="stylesheet" href="/css/main.css"></link>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<style type="text/css">
.img-small {
	width: 50px;
	height: 50px;
}
</style>
</head>
<body>
	<div th:replace="/fragment/index :: nav"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 mt-2">
				<a href="/admin/item/create" class="btn  btn-outline-info mb-2"><i
					class="fa fa-plus" aria-hidden="true"></i> Create Item</a>
			</div>
			<div class="col-12 mt-md-2 mt-5">
				<h4>
					<th:block th:text="${categoryName}"></th:block>
					<span th:text="${listItem.content.size()}"
						class="badge badge-danger"></span>
				</h4>

				<div class="row">
					<div class="col-12">
						<table class="table table-hover table-striped table-bordered"
							id="item">
							<thead>
								<tr>
									<th>Id</th>
									<th>Item</th>
									<th>Item Mm</th>
									<th>UnitName</th>
									<th>UnitName Mm</th>
									<th>UnitPrice</th>
									<th>Image</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${listItem.content}">
									<td th:text="${item.item.itemId}"></td>
									<td th:text="${item.item.itemName}"></td>
									<td th:text="${item.item.itemNameMm}"></td>
									<td th:text="${item.sellingPrice.unit.unitName}"></td>
									<td th:text="${item.sellingPrice.unit.unitNameMm}"></td>
									<td th:text="${item.sellingPrice.unitPrice}"></td>

									<td><a th:if="${item.selling}"
										th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId},unitId=${item.unitId})}"
										class="badge badge-primary">Selling</a> <a
										th:if="${item.selling}"
										th:href="@{/admin/sellingItem/remove(itemId=${item.item.itemId},unitId=${item.unitId})}"
										class="badge badge-danger"><i class="fa fa-trash"
											aria-hidden="true"></i></a> <a th:unless="${item.selling}"
										th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId})}"
										class="badge badge-danger">Idle +</a> <br /> <img
										th:if="${item.item.frontImg == null}"
										th:src="@{/items/no_image.jpg}" class="img-small" alt="...">
										<img th:unless="${item.item.frontImg == null}"
										th:src="@{/items/{img}(img=${item.item.frontImg})}"
										th:alt="${item.item.itemName}" class="img-small"></td>

									<td>

										<form method="post"
											th:action="@{/admin/item/{id}/delete(id=${item.item.itemId})}">
											<a class="btn btn-outline-primary btn-sm"
												th:href="@{/admin/item/{id}/edit(id=${item.item.itemId})}">
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
											</a>
											<button class="btn btn-outline-danger btn-sm">
												<i class="fa fa-trash" aria-hidden="true"></i>Delete
											</button>
											<a class="btn btn-outline-primary btn-sm"
												th:if="${item.item.status}==ACTIVE"
												th:href="@{/admin/item/{id}(id=${item.item.itemId},hide=true)}">
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Hide
											</a> <a th:unless="${item.item.status}==ACTIVE"
												class="btn btn-outline-primary btn-sm"
												th:href="@{/admin/item/{id}(id=${item.item.itemId},hide=false)}">
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Show
											</a>
										</form>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-12">
						<!-- customers pagination -->
						<nav aria-label="Pagination" th:if="${listItem.totalPages gt 0}">
							<ul class="pagination justify-content-center font-weight-medium">
								<li class="page-item"
									th:classappend="${listItem.number eq 0} ? 'disabled'"><a
									class="page-link svg-icon"
									th:href="@{/admin/category/{categoryId}/item?p={id}(id=${listItem.number lt 2 ? 1 : listItem.number},categoryId=${categoryId})}"
									aria-label="Previous" title="Previous Page" rel="tooltip">
										<span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
								</a></li>
								<li class="page-item"
									th:classappend="${i eq listItem.number + 1} ? 'active'"
									th:each="i : ${#numbers.sequence( listItem.number + 1, listItem.totalPages > 10 + listItem.number ? listItem.number + 10 : listItem.totalPages, 1)}">
									<a class="page-link"
									th:href="@{/admin/category/{categoryId}/item?p={id}(id=${i},categoryId=${categoryId})}"
									th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"></a>
								</li>
								<li class="page-item disabled"
									th:if="${listItem.number + 10 < listItem.totalPages}"><a
									class="page-link svg-icon" href="#"> <span
										data-feather="more-horizontal" width="20" height="20"></span>
								</a></li>
								<li class="page-item"
									th:classappend="${listItem.number + 1 eq listItem.totalPages} ? 'disabled'">
									<a class="page-link svg-icon"
									th:href="@{/admin/category/{categoryId}/item?p={id}(id=${listItem.number + 2},categoryId=${categoryId})}"
									aria-label="Next" title="Next Page" rel="tooltip"> <span
										aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
								</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- <div class="col-6 col-md-3 mt-1" th:each="item : ${listItem}">
						<div class="card ">
							<img th:if="${item.item.frontImg == null}"
								th:src="@{/items/no_image.jpg}" class="card-img-top" alt="...">
							<img th:unless="${item.item.frontImg == null}"
								th:src="@{/items/{img}(img=${item.item.frontImg})}"
								th:alt="${item.item.itemName}" class="card-img-top">
							<div class="card-body card-highlight">
								<a th:if="${item.selling}" th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId},unitId=${item.unitId})}" class="badge badge-primary">Selling</a>
								<a th:unless="${item.selling}" th:href="@{/admin/sellingItem/create(itemId=${item.item.itemId})}" class="badge badge-danger">Idle +</a>
								<h5 th:text="${item.item.itemId + ' - ' +item.item.itemName}">Card title</h5>								
								<h6 class="card-subtitle mb-2 "
									th:text="${item.item.category.categoryName +'/'+ item.item.category.categoryNameMm}">Card subtitle</h6>
								<form method="post"
								th:action="@{/admin/item/{id}/delete(id=${item.item.itemId})}">
								<a class="btn btn-outline-primary btn-sm" th:href="@{/admin/item/{id}/edit(id=${item.item.itemId})}">
									<i class="fa fa-pencil-square-o" aria-hidden="true" ></i>Edit
								</a>
								<button class="btn btn-outline-danger btn-sm"  >
									<i class="fa fa-trash" aria-hidden="true"></i>Delete
								</button>
								</form>
							</div>

						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	
	$(document).ready(function() {
		$('#item').DataTable({
			 "paging":false,
			 "info":false
		});
	});
</script>
</html>