<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Online Shop</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"></link>
<link rel="stylesheet" href="/css/main.css"></link>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<style type="text/css">
</style>
</head>
<body>
	<div th:replace="/fragment/index :: nav"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-8 mt-2">
				<a href="/admin/unit/create"
					class="btn btn-block btn-outline-info mb-2"><i
					class="fa fa-plus" aria-hidden="true"></i> Create Unit</a>
				<table class="table table-hover table-striped table-bordered"
					id="unit">
					<thead>
						<tr>
							<th>Unit Id</th>
							<th>Unit Name</th>
							<th>Unit NameMM</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="unit : ${listUnit}">	
							<td th:text="${unit.unitId}"></td>					
							<td th:text="${unit.unitName}"></td>
							<td th:text="${unit.unitNameMm}"></td>
							<td>
								<form method="post"
								th:action="@{/admin/unit/{id}/delete(id=${unit.unitId})}">
								<a class="btn btn-outline-primary btn-sm "
									th:href="@{/admin/unit/{id}/edit(id=${unit.unitId})}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
								</a>
								<button class="btn btn-outline-danger btn-sm" type="submit">
									<i class="fa fa-trash " aria-hidden="true"></i>Delete
								</button>
							</form>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- <ul class="list-group" th:each="unit : ${listUnit}">
					<li class="list-group-item list-group-item-action"
						><th:block
							th:text="${unit.unitName}"></th:block> / 
							<th:block
							th:text="${unit.unitNameMm}"></th:block>
						<div class="mt-2">
							<form method="post"
								th:action="@{/admin/unit/{id}/delete(id=${unit.unitId})}">
								<a class="btn btn-outline-primary btn-sm "
									th:href="@{/admin/unit/{id}/edit(id=${unit.unitId})}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
								</a>
								<button class="btn btn-outline-danger btn-sm" type="submit">
									<i class="fa fa-trash " aria-hidden="true"></i>Delete
								</button>
							</form>
						</div></li>
				</ul> -->
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#unit').DataTable();

	});
</script>
</html>